#svgContainer {
    background-color: #FFF;
    box-shadow: 0 0 10px gray;
}

#tooltip {
    text-align: center;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 1px 1px 10px grey;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: none;
}

g {
    color: #06283D;
}

.bar{
    cursor: pointer;
    fill: #54BAB9;
}

.bar:hover {
    fill: #c5ecd0;
}
